<body>
  <h1>Welcome to Project Bullshit, the place where we cut the crap</h1>
  <br>
  <p>Who's we you're asking? ... It's bots, it's always bots!</p>
  </br>
  <h2>So what do you want to do?</h2>
  <ul>
    <li><a href="test/">Test the bots</a></li> 
    <li><a href="train/">Train the bots</a></li>
    <li><a href="work/"><del>Exploit</del> Work the bots</a></li>
  </ul>
  <br>




</body>