<body>
  <h1>Result</h1>

  <h2>Keyword: {{ keyword }} </h2>

  <table>
    <tr>
      <th>Metric</th>
      <th>Result</th>
    </tr>
    <tr>
      <td>Brand/Non-Brand:</td>
      <td> {{ result }} </td>
    </tr>

  </table>

</body>