<body>
  <h1>Time for training</h1>

  <h2>thanks for helping me learn!</h2>
  
  <form action="/BS/train/", method="POST">
    {% csrf_token %}
    <b> {{ keywords.0 }} </b>
    {{ form.term1 }}
    <b> {{ keywords.1 }} </b>
    {{ form.term2 }}
    <b> {{ keywords.2 }} </b>
    {{ form.term3 }}
    <b> {{ keywords.3 }} </b>
    {{ form.term4 }}
    <b> {{ keywords.4 }} </b>
    {{ form.term5 }}
    <b> {{ keywords.5 }} </b>
    {{ form.term6 }}
    <b> {{ keywords.6 }} </b>
    {{ form.term7 }}
    <b> {{ keywords.7 }} </b>
    {{ form.term8 }}
    <b> {{ keywords.8 }} </b>
    {{ form.term9 }}
    <b> {{ keywords.9 }} </b>
    {{ form.term10 }}

    <input type="submit" value="Submit" />
    
  </form>

</body>