<body>
  <h1>After all... I came to work!</h1>

  <form action="/BS/work/", method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit">
    
  </form>
  <br>
  <br>
  <p>I am a professional work</p>

</body>